services:
  web:
    build: .
    command: sh -c "yarn prisma generate && npm run dev"
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/rental
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rental
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker:/docker-entrypoint-initdb.d:ro

volumes:
  pgdata:
